:root {
  --white: #fff;
  --black: #000;
  --orange: #ff7b01;
  --green: #03C988;
  --blue: #4477CE;
  --red: #EF4B4B;
  --border-color: #e8e8e8;
  --input-focus-border-color: #bbbaba;
  --text-color: hsl(0, 0%, 0%);
  --button-height: 36px;
  --button-border-radius: 4px;
  --button-primary-border-color: #ff7b01;
  --button-secondary-bg-color: #FFF2CC;
  --transition-button: 0.3s ease-out;
  --item-bg-hover: #e9ecef;
  --tooltip-bg-color: #41444B;
  --textbox-height: 36px;
}